---
layout: base
body_class: home
title: Home
---

<div class="row home-content">
  <div class="col-7 home-sponsors">
  {% if site.visible.sponsors %}
    <h3>Our sponsors</h3>
    {% assign tiers = site.sponsors | tiered_sponsors: site.data.event.sponsor_tiers %}
    <div class="row">
    {% for tier in tiers %}
      {% assign sponsors = tier[1] %}
      {% for sponsor in sponsors %}
      <div class="col-6"><img class="w-100 home-sponsor-logo" src="{{ site.baseurl }}/static/img/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }}"></div>
      {% endfor %}
    {% endfor %}
    </div>
  {% endif %}
  </div>

  <div class="col home-announcements">
    <h3>Announcements</h3>
    <div class="home-announcement">
      <h4>2019 dates and location!</h4>
      <p>We officially have dates and a location for 2019!
      PyTennessee 2019 will be held on February 9-10, 2019, and just like in years past, we'll again be at the Nashville School of Law.</p>
    </div>
  </div>
</div>

