/**
 * PyTennessee 2019
 * info@pytennessee.org
 */
html { background: #ffffff; color: #333; }

body {
  font: normal 1em/1.5rem "Rubik", Helvetica, Arial, sans-serif;
}

.header, .footer {
  background: #6a5b7f;
  color: #eee;
  padding: 0.75em 2em;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
  margin-bottom: 3em;
}

.footer {
  border-top: 1px solid #333;
  margin-top: 3em;
}

.footer p {
  margin: 0;
}

.footer a, .footer a:link {
  color: #eee;
  text-decoration: underline;
}

.title {
  padding-top: 0.15em;
  justify-content: flex-start;
  width: 400px;
}

.nav {
  flex-grow: 1;
  margin: 0.75em 0;
}

.nav a {
  color: #eee;
  font-weight: bold;
}

.nav a:hover, .nav a:focus {
  color: #342d3f;
}

.nav-dropdown {
  background: #75648c;
  border: 1px solid #342d3f;
  color: #eee;
}


/*--[ Homepage ]-----*/
.home .header {
  margin-bottom: 0;
}

.home .footer {
  margin-top: 0;
}

.home .hero {
  align-items: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #eee;
  display: flex;
  height: 50vw;
  justify-content: center;
  overflow:hidden;
  text-align: center;
  width: 100%;
}

.home .hero-content h2 {
  font-size: 4.5em;
  font-weight: 700;
}

.home .hero-content h3 {
  font-size: 2em;
}

.home .hero-content h4 {
  font-size: 2em;
  font-style: italic;
  margin: 1.5em;
}

.home-content {
  padding: 1.5em 0;
}

.home-announcement {
  padding: 0 0 1.5em;
}

.about-pytn {
  background: #999;
  color: #eee;
  padding: 1.5em 0;
  margin: 0;
}

.about-pytn a {
  color: #eee;
  text-decoration: underline;
}


/*--[ About Page ]-----*/
.about-hero img {
  border: 1px solid #666;
  width: 100%;
  margin-bottom: 1.5em;
}


/*--[ Sponsors Page ]-----*/
.sponsor-tier-name {
  margin-top: 1.5em;
}

.sponsor-list {
  list-style: none;
  margin-bottom: 3em;
  margin-top: 3em;
  padding: 0;
}

.sponsor-list-item-logo {
  width: 100%;
}


/*--[ Prospectus Page ]-----*/
.prospectus h3 {
  margin-top: 1.5em;
}


/*--[ Venue Page ]-----*/
.venue ul {
  list-style-type: none;
  padding-left: 0;
}


/*--[ Young Coders Page ]-----*/
.young-coders-hero img {
  border: 1px solid #666;
  width: 100%;
  margin-bottom: 1.5em;
}
